<form method="POST" action="/new">
    <label for="user">user</label>
    <input type="text" name="user" />
    <label for="text">text</label>
    <input type="text" name="text" />
    <button type="submit">submit</button>
</form>